<div class="heading"><h3>{{ heading_title }}</h3><hr class="gradient-divider"></hr></div>
<div class="product-content">
  <div class="row">
  	<div id="owl-latest" class="owl-carousel">
	 {% for product in products %}
	 <div class="item">
	  <div class="col-xs-12">
	  	<div class="product-thumb transition">
		  <div class="nd-wrap nd-style-1">
			{% if product.quantity <= 0 and out_of_stock_show %}
  				<span class="ribbon3">{{ out_of_stock }}</span>
        	{% endif %}
			<center><a href="{{ product.href }}">
			  <img src="{{ product.thumb }}" alt="{{ product.name }}" title="{{ product.name }}" class="img-responsive" />
			</a></center>
			<div class="nd-content">
				<div class="nd-content_inner">
					<div class="nd-content_inner1">
						<h4 class="nd-title"><span><a href="{{ product.href }}">{{ product.name }}</a></span></h4>
						<span class="nd-icon">
						{% if product.quantity > 0 %}
							<span class="fa fa-shopping-cart fa-fw" data-toggle="tooltip" title="{{ button_cart }}" onclick="cart.add('{{ product.product_id }}');"></span>
						{% else %}
            				{% if out_of_stock_notify %}
								<span class="fa fa-shopping-cart fa-fw" data-toggle="tooltip" title="{{ text_notify_button }}" onclick="notify_me('{{ product.product_id }}');"></span>
							{% endif %}
            			{% endif %}
						</span>
						<span class="nd-icon">
							<span class="fa fa-heart fa-fw" data-toggle="tooltip" title="{{ button_wishlist }}" onclick="wishlist.add('{{ product.product_id }}');"></span>
						</span>
						<span class="nd-icon">
							<span class="fa fa-exchange fa-fw" data-toggle="tooltip" title="{{ button_compare }}" onclick="compare.add('{{ product.product_id }}');"></span>
					</span>
					</div>					
				</div>				
			</div>
		  </div>
		  <div class="caption">
      		<h4 class="product-name"><a href="{{ product.href }}">{{ product.name }}</a></h4>
			{% if product.rating %}
			<div class="rating">
			  {% for i in 5 %}
			  {% if product.rating < i %}
			  <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
			  {% else %}
			  <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span>
			  {% endif %}
			  {% endfor %}
			</div>
			{% endif %}
			{% if product.price %}
			<p class="price">
			  {% if not product.special %}
			  {{ product.price }}
			  {% else %}
			  <span class="price-new">{{ product.special }}</span>
              <p><span class="price-old">{{ product.price }}</span></p>
			  {% endif %}
			</p>
			{% endif %}
		  </div>
		</div>
  	  </div>
	</div>
	{% endfor %}
	  
	</div>
  </div>
</div>

<script type="text/javascript"><!--
$('#owl-latest').owlCarousel({ 
	  items: 4,
	  autoplay: true,
      autoplayTimeout: 2000,
	  autoplayHoverPause: true,
	  loop: true,
	  nav: true,
      dots: false,
	  navText: ['<span class="fa-stack"><i style="font-size:35px" class="fa fa-chevron-left fa-stack-1x"></i></span>','<span class="fa-stack"><i style="font-size:35px" class="fa fa-chevron-right fa-stack-1x"></i></span>'],
});
</script>